.login-main-Container {
  margin: 50px 0 0 0;
}

.login-main-Container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-main-Container form input {
  width: 50%;
  margin-top: 15px;
  padding: 3px 10px;
  border-bottom: 2px solid #cc0000 !important;
  height: 45px;
}

.field:focus {
  box-shadow: none !important;
  outline: 0 !important;
}
.login-main-Container form :nth-child(3) {
  background-color: #cc0000;
  border-radius: 10px !important;
  margin-top: 30px !important;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .form-container {
    width: 100% !important;
    display: block !important;
    text-align: center;
  }
  .login-main-Container form input,
  textarea {
    width: 90%;
  }
  .login-main-Container {
    height: 100%;
  }
}
