.admin-ul {
  list-style: none;
  line-height: 40px;
  color: rgb(26, 25, 25);
}

.admin-ul li .linkColor {
  color: rgb(26, 25, 25);
}
.admin-ul li :hover {
  color: #cc0000 !important;
}

.admin-ul .linkColor:hover {
  color: #cc0000 !important;
}
