.review-text-box {
  min-height: 55px;
}

.review-desc-main-box {
  min-height: 110px;
}

.review-desc-box {
  height: 55px;
}
.allReviews-container {
  width: 100%;
}
.reviews-wrapper {
  margin-top: 150px;
}
