.add-product-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-product-container form input,
textarea {
  width: 60%;
  margin-top: 15px;
  padding: 3px 10px;
  border-bottom: 2px solid #cc0000 !important;
  height: 45px;
}
.add-product-container form textarea {
  border-bottom: 2px solid #cc0000 !important;
}
.field:focus {
  box-shadow: none !important;
  outline: 0 !important;
}
.add-product-container form :nth-child(5) {
  background-color: #cc0000;
  border-radius: 10px !important;
  margin-top: 30px !important;
  color: #fff;
}
