.booking-image-div {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.image-styles:hover {
  transform: scale(1.2);
  transition: 0.6s;
}
.booking-desc {
  text-align: justify;
}
/* --------------------- */
.add-product-container {
  margin: 20px 0;
}

.add-order-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-order-container form input {
  width: 80%;
  margin-top: 15px;
  padding: 3px 10px;
  border-bottom: 1px solid #cc0000 !important;
  height: 45px;
}

.field:focus {
  box-shadow: none !important;
  outline: 0 !important;
}
.add-order-container form :nth-child(5) {
  background-color: #cc0000;
  color: #fff;
  border-radius: 15px;
}
@media only screen and (max-width: 576px) {
  .form-wrapper {
    width: 100% !important;
  }
}
